@import url('../../styles/globals.css');

/* src copy - fallback in case top-level styles are used */
html, body, #__next {
  height: 100%;
}
body {
  font-family: 'Montserrat', ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}
